*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html header #button {
	display: none;
}

header #button .menu-open, header #button .menu-close {
	display: none;
}

body {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	line-height: 1.50rem;
}

header {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 4rem;
	background-color: hsl(213, 6%, 31%);
}

.logo {
	justify-content: flex-start;
	align-items: center;
	color: hsl(206, 11%, 88%);
	font-weight: 600;
	font-size: 16px;
}

header .navigation a {
	font-size: 14px;
	text-decoration: none;
	color: hsl(206, 11%, 88%);
}

.navigation {
	display: flex;
	justify-content: flex-end;
}

.navigation a {
	margin-left: 1.5rem;
}

.navigation a:hover {
	text-decoration: underline;
}

main {
	margin: 0 auto;
	max-width: 65ch;
	padding: 25px;
	height: calc(100vh - 6rem);
}

h1 {
	font-size: 32px;
	line-height: 2em;
}

p {
	font-size: 16px;
	line-height: 2em;
	margin-bottom: 0.5em;
}

span {
	font-size: 16px;
}

.intro {
	display: block;
	margin-bottom: 1.5rem;
}

.clima {
	border-radius: 10px;
	padding: 1.25rem;
	background-color: hsl(201, 100%, 91%);
	display: block;
	outline: 1px solid hsl(201, 52%, 50%);
}

@media only screen and (max-width: 460px) {


	header .navigation {
		position: fixed;
		display: none;
		align-items: center;
		flex-direction: column;
		top: 4rem;
		left: 0;
		padding: 1rem;
		width: 100%;
		background-color: hsl(213, 6%, 31%);
	}
	
	.navigation a {
		padding: .5rem;
		margin: .5rem;
	}

	header .menu-open {
		display: block; 
		color: hsl(206, 11%, 88%);
	}

	html header #button {
		display: block;
	}
	

	
}

body header #button .menu-open .hidden {
	display: none;
}

body header #button .menu-close .hidden {
	display: none;
}