@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: 'Open Sans', sans-serif }


p {
    color: hsl(203, 100%, 26%);
    display: flex;
    align-items: center;
}

p:not(:last-child) {
    margin-bottom: .75rem;
}

.temperature-description { text-transform: capitalize; }

.location { text-transform: capitalize; }

p span { margin: 0 .2rem; }

p img { margin-left: .25em; }

.container {
    max-width: 300px;
    display: block;
    background-color: hsla(203, 100%, 76%, 0.256);
    margin: 1rem;
    border-radius: 10px;
    border: 2px solid hsla(203, 100%, 76%, 0.598);
    padding: 1rem 1.25rem;
}